<nav class="navbar navbar-dark" style="background-color: rgba(0, 0, 0, 0.752);">
    <a class="navbar-brand" href="/">
        <img src="/img/kuluniana_logo_white.png" width="50px" alt="">
    <span class="title">KuluAsked</span>
    </a>
</nav>